<h1>Prototyping kit</h1>

<p>The prototyping kit comes with some guides to get started:</p>

<ul>
  <li><a href="/patterns">Design patterns</a></li>
</ul>

<p>Also see:</p>

<ul>
  <li><a href="http://sinatrarb.com/intro.html">Sinatra introduction</a></li>
</ul>
