<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/assets/application.css">
</head>

<body>
  <header role="banner" class="global">
    <div class="container">
      <div class="row">
        <h1 class="logo">
          <a href="">
            <div class="logo-container">
              <span class="logo">NSW Government</span>
            </div>
            <span class="site-title">Service name</span>
          </a>
        </h1>
      </div>
    </div>
  </header>

  <main class="container">
    <%= yield %>
  </main>

  <footer class="global">
    <div class="container">
      <div class="row">
        <ul class="footer-link-list">
          <h3>Footer column one</h3>
          <li><a href="">Link one</a></li>
          <li><a href="">Link two</a></li>
          <li><a href="">Link three</a></li>
        </ul>
        <ul class="footer-link-list">
          <h3>Footer column two</h3>
          <li><a href="">Link four</a></li>
          <li><a href="">Link five</a></li>
          <li><a href="">Link six</a></li>
        </ul>
        <ul class="footer-link-list">
          <h3>Footer column three</h3>
          <li><a href="">Link seven</a></li>
          <li><a href="">Link eight</a></li>
          <li><a href="">Link nine</a></li>
        </ul>
      </div>

      <div class="footer-bottom-row">
        <div class="footer-legal">
          <ul>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms of use</a></li>
            <li><a href="">Accessibility statement</a></li>
            <li><a href="">License and attribution</a></li>
          </ul>

          <p class="made-by">
            Built by the <a href="https://www.finance.nsw.gov.au/">NSW Department of Finance, Services and Innovation</a>
          </p>
        </div>
        <div class="footer-logo">
          <a href="https://www.nsw.gov.au" class="nsw-gov-logo">
            <span>NSW Government</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
