<article>
  <h1>Get permission to get a licensed job</h1>

  <p>Some jobs require special licences, so that the people working in those jobs are trained to work safely and professionally.</p>
  <p></p>
  <p>You will need:</p>
  <ul>
    <li>Your SafeWork credentials</li>
    <li>The applicant's Unique Student Identifier (USI)</li>
    <li>Their photo<br><small><em>You can take their photo as part of this assessment form</em></small></li>
  </ul>
  <a href="/assessor/step-1" class="button">Start now</a>
</article>
