<article>
  <h1>Apply for a fishing licence</h1>

  <p>Some introductory text about the process to apply for a fishing license.</p>

  <p>You will need:</p>

  <ul>
    <li>your driver's license number</li>
    <li>an angling certificate issued in the past 12 months</li>
    <li>a credit or debit card</li>
  </ul>

  <p>This application will take around 10 minutes.</p>
  <p>You will receive a response within 5 days.</p>

  <a href="/example/step-1" class="button">Start now</a>
</article>
