<article>
  <h1>Drive a forklift in New South Wales</h1>

  <p>To drive a forklift in New South Wales, you will need a 'High Risk Work Licence' with a forklift driver class. For information on which other roles require the license, visit the SafeWork NSW website on <a href="http://www.safework.nsw.gov.au/licences-and-registrations/licences/high-risk-work-licences">High Risk Work Licenses</a>.</p>
  <p>To get permission to drive a forklift in New South Wales you will need to:
      <ol>
        <li>Attend a forklift course at a Registered Training Organisation</li>
        <li>Demonstrate what you have learned to a SafeWork NSW assessor<br><em><strong>then</em></strong></li>
        <li>Complete this form</li>
      </ol>
  </p>
  <p>Your assessor notifies SafeWork if you have been successful, and your High Risk Work License is posted to you.</p>
  <p>You need to complete this form within 60 days of your assessment. If you don't, you'll have to be reassessed.</p>

  <p>You will need:</p>

  <ul>
    <li>Your Unique Student Identifier (USI)</li>
    <li>The details of your training organisation</li>
    <li>Your personal details</li>
  </ul>

  <p>This will take about 5 minutes.</p>

  <a href="/example/step-1" class="button">Start now</a>
</article>
