<article>
  <h1>Previous licenses</h1>

  <form action="/example/step-5" method="get">

    <fieldset class="form-group radio_buttons">
      <legend>Have you previously been issued with an Assessment Summary (AS) by an accredited assessor for the HRW licence class(es) to which this application applies?</legend>

      <div class="form-check">
        <input type="radio" name="as" id="as-yes" class="form-control" value="y">
        <label for="radio-yes">Yes</label>
      </div>

      <div class="form-check">
        <input type="radio" name="as" id="as-no" class="form-control" value="n">
        <label for="radio-no">No</label>
      </div>
    </fieldset>

    <fieldset class="form-group radio_buttons">
      <legend>Have you ever been issued with a Notice of Satisfactory Assessment (NSA) by an accredited assessor for an HRW licence class(es) to which this application applies?</legend>

      <div class="form-check">
        <input type="radio" name="prev" id="prev-yes" class="form-control" value="y">
        <label for="radio-yes">Yes</label>
      </div>

      <div class="form-check">
        <input type="radio" name="prev" id="prev-no" class="form-control" value="n">
        <label for="radio-no">No</label>
      </div>
    </fieldset>

    <fieldset class="actions">
      <button type="submit">Next step</button>
    </fieldset>
  </form>
</article>
