<article>
  <h1>Your license history</h1>

  <form action="/example/step-4" method="get">

    <fieldset class="form-group radio_buttons">
      <legend>Have you had an Australian High Risk Work license suspended or cancelled since September 2013?</legend>

      <div class="form-check">
        <input type="radio" name="suspended" id="suspended-yes" class="form-control" value="y">
        <label for="suspended-yes">Yes</label>
      </div>

      <div class="form-check">
        <input type="radio" name="suspended" id="suspended-no" class="form-control" value="n">
        <label for="suspended-no">No</label>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <label for="example">Please tell us what happened</label>
        <textarea name="suspended_details" id="textarea" rows="4" class="form-control"></textarea>
      </div>
    </fieldset>

    <fieldset class="actions">
      <button type="submit">Next step</button>
    </fieldset>
  </form>
</article>
