<article>
  <div class="confirmation">
    <h1>Your application has been submitted</h1>

    <p>Your reference is <strong>ZF1037118</strong>. Use this if you need to contact us about your application.</p>

    <p>Your application will be processed within 5 days. We will update you by email.</p>
  </div>

  <p><a href="/">Return to the homepage</a></p>
  <p><a href="/reset-data">Reset answers given</a></p>
</article>
