<article>
  <h1>Confirmation message</h1>

  <div class="confirmation">
    <h1>Application submitted</h1>

    <p>We will now begin processing your application. Your application reference is <strong>ABCDE123</strong></p>
    <p><a href="">Contact us</a> if you need help.</p>
  </div>
</article>
