<h1>Design patterns</h1>

<ul>
  <li><a href="./patterns/confirmation">Confirmation messages</a></li>
  <li><a href="./patterns/error-messages">Error messages</a></li>
  <li><a href="./patterns/forms">Forms</a></li>
</ul>
