<article>
  <h1>Perform an assessment for a High Risk Work Licence</h1>

  <p>This form can be completed as the applicant is assessed, or can be done after.</p>
  <p>You will need:</p>
  <ul>
    <li>Your SafeWork credentials</li>
    <li>The assessment group number<br><small><em>(You can get this from the RTO)</em></small></li>
    <li>The applicant's personal information</li>
    <li>Details of the equipment you're using</li>
    <li>The assistant information<br><small><em>(for crane classes only)</em></small></li>
  </ul>
  <a href="/assessor/step-1" class="button">Start now</a>
</article>
