<article>
  <h1>Your SafeWork credentials</h1>

  <p>Please enter the details provided to you by SafeWork.</p>

  <form action="/assessor/step-2" method="get">

    <fieldset class="form-group radio_buttons" style="line-height:1;text-align:center;width:275px;margin:25px;min-height:250px;max-height:250px;padding-top:35px;position:relative;border:1px solid #E8E8E8;border-top:60px solid #fdfd86;border-bottom-right-radius:60px 5px;display:inline-block;background:#ff8;">
      <p>Some sort of Salesforce / SNSW single sign on goes here</p>
      <p>We shouldn't build a digital login just for this, but need some way to identify the assessor.</p>
    </fieldset>

    <fieldset class="actions">
      <button type="submit">Login</button>
    </fieldset>
  </form>
</article>
