<article>
  <h1>Assessment results</h1>

  <form action="/assessor/step-8" method="get">
<h2>Knowledge results</h2>
    <fieldset>
      <div class="form-group">
        <label for="knowledge-start">Start time</label>
        <input type="text"
                name="knowledge_start"
                id="knowledge-start"
                class="form-control"
                style="width: 20em;"
                value="<%= data[:knowledge_start] %>">
      </div>

      <div class="form-group">
        <label for="knowledge-end">End time</label>
        <input type="text"
                name="knowledge_end"
                id="knowledge-end"
                class="form-control"
                style="width: 20em;"
                value="<%= data[:knowledge_end] %>">
      </div>

    <div class="form-group">
      <label for="knowledge-extra">Notes or previous AS</label>
      <input type="text"
              name="knowledge_extra"
              id="knowledge-extra"
              class="form-control"
              value="<%= data[:knowledge_extra] %>">
    </div>

</fieldset>



    <fieldset class="actions">
      <button type="submit">Next step</button>
    </fieldset>
  </form>
</article>
